services:
  - type: web
    name: serviq
    env: docker
    plan: free
    branch: main
    healthCheckPath: /
    envVars:
      - key: APP_NAME
        value: ServiQ
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        sync: false
      - key: LOG_CHANNEL
        value: stack
      - key: LOG_LEVEL
        value: error
      - key: DB_CONNECTION
        value: sqlite
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: sync
    buildCommand: |
      composer install --optimize-autoloader --no-dev
      npm ci
      npm run build
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
      touch database/database.sqlite
      php artisan migrate --force
      php artisan db:seed --force
    startCommand: php artisan serve --host=0.0.0.0 --port=$PORT
